* {
    padding: 0;
    margin: 0;
}

body { /*entire page layout and colour*/
    background-color: #472710;
    background-image: url('./images/room-top.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 600px;
    font-family: yeseva one;
    font-weight: bold;
    transition: all .3s;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.context { /*body text*/
    background-color: white;
    padding: 6px;
    border-style: groove;
    border-width: 8px;
    border-color:#fcbe11;
}

.top { /*header info*/
    display: flex;
    justify-content: space-between;
    margin: 8px;
}

.body { /*all text in middle*/
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    color: #fcbe11;
    margin-bottom: 24px;
}

.context .intro{ /*introduction*/
    font-size: 1.5rem;
    width: 600px;
    margin-bottom: 24px;
}

.context h1 { /*greeting*/
    font-size: 3rem;
    margin: auto;
}

.contacts-header { /*contacts header*/
    color:#f2e2b5;
    font-size: 2rem;
    margin: 8px;
}
.contacts { /*icons and link*/
    display: flex;
    justify-content: center;
    color:#f2e2b5;
    margin: 12px;
    gap: 70px;
}

.contacts .app { /*link text*/
    margin: 8px;
    font-size: 1.5rem;
}

.context i { /*icons*/
    font-size: 2.5rem;
}

.context a { /*contact links*/
    text-decoration: none;
    color:#f2e2b5;
}


