* {
    padding: 0;
    margin: 0;
}

body {
    background: #472710;
    font-family: yeseva one;
    font-weight: bold;
    transition: all .3s;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

i {
    font-size: 2.5rem;
}

.top {
    display: flex;
    justify-content: space-between;
    margin: 8px;
}

.body {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fcbe11;
    margin-bottom: 16px;
}

 .body .intro{
    font-size: 1.5rem;
    width: 600px;
}

.body h1 {
    font-size: 3rem;
    margin: auto;
}

.contacts-header {
    color:#f2e2b5;
    font-size: 2rem;
    margin: 8px;
}
.contacts {
    display: flex;
    justify-content: center;
    color:#f2e2b5;
    margin: 12px;
    gap: 70px;
}

.contacts .app {
    margin: 8px;
    font-size: 1.5rem;
}



